$color-main: #283645;
$color-main-light: rgba(40, 54, 69, 0.6);
$color-main-lighten: rgba(40, 54, 69, 0.3);
$color-main-lightest: rgba(40, 54, 69, 0.1);
$color-accent: #d22856;
$color-accent-light: rgba(210, 40, 86, 0.3);
$color-button: #2aab6d;
$color-button-hover: #1c9b5e;
$black: #000000;
$black-lighten: rgba(0, 0, 0, 0.3);
$modal-shadow: rgba(0, 1, 1, 0.15);
$white: #ffffff;
$white-darken: rgba(255, 255, 255, 0.3);
$white-darkest: rgba(255, 255, 255, 0.15);
$grey: #f2f2f2;
$grey-dark-input:#e5e5e5;
//viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$desktop-width-only: 1199px;
$mobile-width-only: 659px;
