.catalog {
  margin-bottom: 20px;
}

.catalog__intro {
  padding-top: 40px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.catalog__text {
  text-align: center;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.catalog__list {
  @include reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 555px;
  }
}
