.control {
  display: none;
  position: relative;
  padding-bottom: 34px;
  padding-top: 34px;
  padding-left: 20px;
  padding-right: 20px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 52px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      top: 20px;
    }

    &--crop::before {
      width: 22px;
      height: 22px;
      background-image: url("../image/crop_tablet.svg");
    }

    &--fill::before {
      width: 24px;
      height: 22px;
      background-image: url("../image/fill__tablet.svg");
    }

    &--contrast::before {
      width: 16px;
      height: 16px;
      background-image: url("../image/contrast__tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 90px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-main-lightest;
    }

    &--crop::before {
      width: 44px;
      height: 44px;
    }

    &--fill::before {
      width: 48px;
      height: 43px;
    }

    &--contrast::before {
      width: 32px;
      height: 32px;
    }
  }
}

.control__bar {
  height: 2px;
  background-color: $color-main;
}

.control__switcher {
  background-color: $white;
  border: 2px solid $color-accent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: 80%;
  top: 27px;

  &:focus {
    background-color: $color-accent;
  }
}
