.editing {
  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.editing__intro {
  text-align: center;
  padding-bottom: 45px;

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}

.editing__slogan {
  font-size: 14px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.editing__set {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 410px;
    background-color: $grey;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.editing__foto {
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.editing__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.editing__wrapper {
  background-color: $grey;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.editing__tools {
  margin-bottom: 40px;
}

.editing__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}

.editing__button {
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  &--post {
    color: $color-accent;
    border: 3px solid $color-accent;
    margin-bottom: 20px;

    &:hover {
      color: $white;
      background-color: $color-accent;
    }

    &:focus {
      color: $white-darken;
    }
  }

  &--cancel {
    opacity: 0.1;
    border: 3px solid $color-main;
    color: $color-main;

    &:hover {
      opacity: 0.3;
    }

    &:focus {
      color: $white;
      background-color: $color-main;
    }
  }

  @media (min-width: $desktop-width) {
    width: 183px;

    &--post {
      margin-bottom: 0;
    }
  }
}
