.header {
  background: $black-lighten;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  z-index: 100;
  transition: background-color 0.2s ease-in-out;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.no-scroll .header {
  background-color: $color-main;
}

.header__wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  fill: $white;

  &[href]:hover {
    fill: $color-accent;
  }

  &[href]:active {
    fill: $white;
    opacity: 0.3;
  }
}

.navigation {
  position: fixed;
  width: 100%;
  top: var(--header-height);
  right: 0;
  background-color: $color-main;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;

  @media (min-width: $desktop-width) {
    transform: none;
    position: static;
    background-color: transparent;
    margin-left: auto;
    width: auto;
  }

  &--active {
    transform: none;
  }
}

.header__logo-glasses {
  margin-right: 12px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.burger {
  position: relative;
  display: block;
  border: none;
  width: 30px;
  height: 20px;
  background-color: transparent;
  z-index: 10;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 1px;
    background-color: $white;
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active::before {
    transform: rotate(45deg);
    top: auto;
  }

  &--active::after {
    transform: rotate(-45deg);
    bottom: auto;
  }
}

.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $white;
  transition: opacity 0.2s ease-in-out;
}

.burger--active .burger__line {
  opacity: 0;
}

.navigation-list {
  @include reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.navigation-item {
  border-bottom: 1px solid $black;
  border-top: 1px solid $white-darkest;

  @media (min-width: $desktop-width) {
    border: none;
    margin-right: 78px;
  }
}

.navigation-link {
  display: block;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  &[href]:hover {
    color: $color-accent;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    text-transform: capitalize;

    &--current {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-color: $white;
        height: 2px;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }
}
