.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: $color-main;
  background-color: $white;
  min-width: 320px;
  box-sizing: border-box;
  position: relative;
}
