.tools__list {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tools__item {
  border: none;
  padding: 0;
  fill: $color-main-lighten;

  &--active {
    fill: $color-accent;
  }
}
