@import "utils/variables.scss";
@import "utils/fonts.scss";
@import "utils/mixins.scss";
@import "utils/global.scss";
@import "blocks/page.scss";
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/slogan.scss";
@import "blocks/promo.scss";
@import "blocks/advantages.scss";
@import "blocks/slider.scss";
@import "blocks/interesting-facts.scss";
@import "blocks/reviews.scss";
@import "blocks/tariffs.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/socials.scss";
@import "blocks/form.scss";
@import "blocks/button.scss";
@import "blocks/card.scss";
@import "blocks/catalog.scss";
@import "blocks/editing.scss";
@import "blocks/main-header.scss";
@import "blocks/modal.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/control.scss";
@import "blocks/tools.scss";
